# Basic Data Types

In [1]:
#Integer
1
5
-2

-2

In [2]:
#Float
3.14

3.14

In [4]:
#String: characters goes within single quote or double quotes
'Hello World'

'Hello World'

In [7]:
#Boolean: True or False
True
False

False

In [8]:
5 < 7

True

In [12]:
#None: a special data types represent nothing or the absent of data
None

# Operators

In [16]:
# + sign can go with string, also called "concatenation"
'race' + 'car'

'racecar'

In [20]:
# when use division, always get a floating number, even if it evenly divisible
10 / 2
# 10 / 3

5.0

In [24]:
# floor division: chop the floating point number, does not round the number
10 // 3
# 14 // 3 (return 4, not 4.67, not 5)

3

In [26]:
# module operator: the remainder of a division
14 % 3

2

In [29]:
# Equality operator: == 
1 == 1
# Case sensitivity matters
"Hello" == 'hello'

False

In [30]:
# Inequality operator --> !=
5 != 10

True

## Variables

In [31]:
# assign a variable
age = 22

In [33]:
age + 10

32

## Built-in Functions

In [34]:
# to use a function, you have to call (or invoke) it using parentheses
len("How many characters do we have here?")

36

In [35]:
str(3.14)

'3.14'

## Custom Functions: use for repetitive tasks

In [39]:
# Declare a function that accepts a temperature in Celsius and returns it in Fahrenheit

def convert_to_fahrenheit(celsius_temp):
    product = celsius_temp * 1.8
    fahrenheit = product + 32 
    return fahrenheit

In [40]:
convert_to_fahrenheit(36)

96.8

## String Methods: A method is a function that operates on an object. To see all the methods, use the "Tab" key.

In [47]:
profession = "Data Analyst"

In [48]:
profession.upper()

'DATA ANALYST'

In [49]:
profession.lower()

'data analyst'

In [50]:
profession.swapcase()

'dATA aNALYST'

In [54]:
# a string is an immutable object: incapable of changes, while mutable object is capable of changes
# because when we call a method on a string, it does not change the original string
profession

'Data Analyst'

In [57]:
# capitalize the first letter of each word
'once upon a time'.title()

# title is very useful when working with people's names
'le tien minh duc'.title()

'Le Tien Minh Duc'

In [56]:
# capitalize the first character of a string
'once upton a time'.capitalize()

'Once upton a time'

In [58]:
profession = ' Data Analyst '

In [62]:
# remove the space on the left side of a string
profession.lstrip()

'Data Analyst '

In [63]:
#remove the space on the right side of a string
profession.rstrip()

' Data Analyst'

In [64]:
#remove space on either side
profession.strip()

'Data Analyst'

In [65]:
# replace 
profession.replace('a', 'e')

' Dete Anelyst '

In [66]:
profession.strip().replace('a', 'e')

'Dete Anelyst'

In [67]:
animal = 'rhinoceros'

In [70]:
# startswith is case sensitive
animal.startswith('acb')

False

In [72]:
animal.endswith('s')

True

In [73]:
"ino" in animal

True

In [74]:
'r' in animal

True

In [75]:
'z' in animal

False

In [76]:
'ino' not in animal

False

In [78]:
"z" not in animal

True

## Lists: Mutable data structures that holds an ordered collection of elements. You can add, remove, change elements in a list

In [79]:
[1, 2, 3, 4]

[1, 2, 3, 4]

In [80]:
[True, False, False, True]

[True, False, False, True]

In [81]:
party_attendees = ['Michael', 'Freddy', 'Jason']

In [82]:
party_attendees

['Michael', 'Freddy', 'Jason']

In [83]:
len(party_attendees)

3

In [84]:
type(party_attendees)

list

In [85]:
presidents = ['Washington', 'Jefferson']

In [86]:
# add elements to a list
presidents.append('Madison')

In [87]:
presidents

['Washington', 'Jefferson', 'Madison']

In [94]:
popcorn = ['Salted', 'Unsalted', 'Caramel']

In [95]:
# "Pop" method removes the last item in a list
popcorn.pop()

'Caramel'

In [96]:
popcorn

['Salted', 'Unsalted']

In [97]:
popcorn.remove('Salted')

In [98]:
popcorn

['Unsalted']

In [99]:
planet = ['Mercury', 'Venus', 'Earth', 'Mars']

In [100]:
"Earth" in planet

True

## Index Positions and Slicing

In [101]:
spiderman = 'Spiderman'

In [107]:
# In python, the count starts at 0, also called an index
# 0 1 2 
# S p i

In [108]:
spiderman[0]

'S'

In [113]:
# return the last character from a string
spiderman[-1]
spiderman[8]
# these two return the same result

'n'

In [110]:
spiderman[-2]

'a'

In [114]:
superheroes = ['Batman', 'Superman', 'Wolverine', 'Ironman', 'Arnold Schwarzenegger']

In [115]:
len(superheroes)

5

In [120]:
superheroes[0]
superheroes[3]
superheroes[4]
superheroes[-2]

'Ironman'

In [124]:
# to pull out more than one element in a list, use a colon (:)
superheroes[0:3]

['Batman', 'Superman', 'Wolverine']

In [125]:
superheroes[:-1]

['Batman', 'Superman', 'Wolverine', 'Ironman']

In [126]:
superheroes[0:]

['Batman', 'Superman', 'Wolverine', 'Ironman', 'Arnold Schwarzenegger']

In [127]:
spiderman[0:3]

'Spi'

In [128]:
superheroes[:-2]

['Batman', 'Superman', 'Wolverine']

In [129]:
spiderman[:5]

'Spide'

In [130]:
superheroes[2:]

['Wolverine', 'Ironman', 'Arnold Schwarzenegger']

## Dictionaries: An ordered collection of key - value pairs

In [131]:
menu = {
    'Filet Mignon' : 29.99,
    'Big Mac' : 3.99, 
    'Pizza' : 0.99,
    'Salmon' : 29.99
}

In [132]:
menu

{'Filet Mignon': 29.99, 'Big Mac': 3.99, 'Pizza': 0.99, 'Salmon': 29.99}

In [134]:
# the len of a dictionary = the number of pairs
len(menu)

4

In [135]:
# find the value of a key
menu['Big Mac']

3.99

In [136]:
menu['tuna']

KeyError: 'tuna'

In [137]:
# add a pair to a dictionary or override the existing pair
menu['Burrito'] = 13.99

In [138]:
menu

{'Filet Mignon': 29.99,
 'Big Mac': 3.99,
 'Pizza': 0.99,
 'Salmon': 29.99,
 'Burrito': 13.99}

In [139]:
menu['Big Mac'] = 5.99

In [140]:
menu

{'Filet Mignon': 29.99,
 'Big Mac': 5.99,
 'Pizza': 0.99,
 'Salmon': 29.99,
 'Burrito': 13.99}

In [142]:
# remove a pair from a dictionary
menu.pop('Filet Mignon')

29.99

In [143]:
menu

{'Big Mac': 5.99, 'Pizza': 0.99, 'Salmon': 29.99, 'Burrito': 13.99}

In [144]:
'Pizza' in menu

True

In [145]:
'Hot Pockets' in menu

False

In [146]:
# to check the value in a dictionary
# 5.99 in menu

False

In [147]:
menu.values()

dict_values([5.99, 0.99, 29.99, 13.99])

In [148]:
5.99 in menu.values()

True

In [149]:
99 in menu.values()

False